.donation{
    /* margin-block: 40px; */
    padding: 20px;
    background: #333333;

}
 .qtn{
    text-decoration: none;
 display: flex;
 align-items: center;
 gap: 20px;
 color: #fff;
 }
 .selection{
     display: flex;
     gap: 15px;
    /* justify-content:center; */
    align-items: flex-end;
 }

 .d-btn, select, .donate-ipt{
    padding: 5px 10px;
 }
 /* .d-btn{
    height: 20px;
 } */

 .article-one, .article-two, .article-three{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
 }
 .donation label{
    color: #fff;
 }
 .d-btn{
   background: #61d0ff;
   color: #fff;
  
 }


 @media screen and (max-width:40em) {
   .selection{
      margin-block-start: 20px;
      display:grid;
      gap: 20px;
   }
   .d-btn{
      background: #61d0ff;
      color: #fff;
     width: 30vw;
     margin: auto;
     border-radius: 6px;
    }
    .vol-section{
      gap: 5px;
    }
   
 }