.call{
    padding-block: 20px;
    background: #e9f8ff;
    padding-inline: 10px;
    margin-block-end: 50px;
    margin-top: 30px;
   gap: 10px;
    display:flex;
    align-items: center;
    /* justify-content: center; */
    /* padding-block: 20px; */
}

.t-desc h1, h2{
    text-align: left;
   padding-inline: 20px;
   color: #61d0ff;
   font-size: 32px;
   
}
.t-desc{
    font-family: Mullish;
    text-align: left;
    display: flex;
    flex-direction:column;
    gap: 5px;
    justify-content: center;
    
    width: 75%;
    /* flex:4; */
}
.t-desc p{
    padding-inline: 20px;
    line-height:2em;
font-size: 16px;
font-weight: 500;
}
.image-desc{
   
    padding-inline-end: 10px;
    
    width: 45%;
    
}
.image-desc img{
    border-radius: 4px;

    width: 100%;
    height: 500px;
}
p.image{
    width: 40%;
    height: 450px;
}
.p-image img{
   
 height: 380px;
    border-radius: 50%
}