@media screen and (max-width: 40em) {
  .footer {
    /* width: 100vw; */
    /* margin-top: 50px; */
    display: flex;
    flex-wrap: wrap;
    background: #61dafb;
    gap: 20px;
    align-items: center;
    padding: 16px;
    justify-content: center;
    list-style: none;
    flex-direction: column;
  }
.mail{
 width: 60%;
}
  .middle {
    display: flex;
    gap: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    justify-content: center;
  }
.middle .tc {
font-size: 10px;
}
  .right a {
    display: flex;
    justify-content: center;

    gap: 10px;
  }
  .right img {
    /* padding-left: 10px; */
    width: 58%;
  }
  .left li {
    font-size: 10px;
    color: #fff;
    font-weight: bold;
  }
  .right li {
    font-size: 15px;
    color: #fff;
    font-weight: bold;
  }

  .right a img{
    height: 18px;
    width: 90%;
  }

.post-desc{
  font-size: 10px;
  padding-inline: 10px;
  color: #fff;
}
  
  .tk img  {
    height: 15px;
    width: 90%; 
  }
  .logos {
    width: 60px;
  }
.top-footer{
  display: flex;
  flex-direction: column;
  background-color:#2b2a29;
  padding-block-end: 20px;
}
.post{
  /* padding-inline: 10px; */
  display: flex;
  justify-content: center;
  /* flex-direction: column */
}
.post-content{
  text-decoration: none;
  display: flex;
  flex-direction: column
}
  .tf-content{
    padding-block: 10px;
    padding-inline: 40px;
    display: flex;
flex-direction: column;
color: white;
text-decoration: none;
/* align-items: center; */
gap: 10px;
  }
.post-title{
  font-size:16px;
  font-weight: 500;
  padding-inline: 10px;
color: #fff;
  text-decoration: none;
}

.tf-input{
  padding: 15px, 10px;
}
.post-desc{
  text-decoration: none;
}
  .q-links{
    display: flex;
    gap: 10px;
    color: #fff;
    /* padding-inline-start: 20px; */
    text-decoration: none;
  }

  .tf-content p{
    color: #fff;
    padding-block: 20px;
    /* padding-inline: 20px; */
    text-align:left
  }
  .git{
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .tf-button{
    background-color:#61d0ff;
    border: none;
    color: white;
    padding: 6px;
  
  }
  .icon{
    fill: #ca4337;
    background: #ebdad8;
    color: #ca4337;
    font-size: 12px;
  }
}

@media screen and (min-width: 40em) {

  .top-footer{
    display: flex;
    background:#000000ce;
    /* align-items: center; */
    padding-inline: 20px;
    color: #fff;
    justify-content: space-between;
    border-bottom: 1px solid #c5c5c5;
    border-top: 1px solid #61dafb;
    padding-block: 20px;
  }
  .tf-content{
    display: flex;
    flex-direction: column;
    /* justify-content:space-between; */
    gap: 8px;
    /* align-items: cente; */
   
  }
  .tf-content label{
    color:#fff;
  }
  .tf-content p{
    font-size:20px;
    font-weight: 600;
    color: #fff;
  }
  
  .tf-content button{
    background:#61dafb;
    border: 1px solid #61dafb;
    border-radius: 4px;
    color: white;
    padding: 8px;
  }
  .git{
    display: flex;
    justify-content: left;
    align-items: center;
    color: #fff;
    gap: 10px;
    font-size: 10px;

  }
  /* .top-footer span{
    color: #000000;
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
  } */
  .post{
    text-decoration: none;
    display: flex;
    /* align-items: center; */
    justify-content:center;
    padding-block-end: 5px;
    align-items:flex-start;
  }
  .q-links{
    font-size: 10px;
  }
  .post-content{
    padding-inline: 6px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
  }
  .icon{
    font-size: 12px;
    background: #ca4337;
    margin-block-start: 4px;
}
.tf-content a{
  color:#fff;
  text-decoration: none;
}
.tf-content input{
  border: 1px solid #ccc;
  /* background: transparent; */
  border-radius: 4px;
  padding: 6px;
  margin-bottom: 8px;
  outline: none;
}
.middle {
  display: flex;
  flex-direction: row;
  gap: 50px;
  color: #fff;
  font-size: 26px;
  font-weight: bold;
}
.right .tk{
  border-radius: 50%;
  width: 100%;
  height: 36px;
}
.post-title{
  font-size:16px;
  font-weight: 500;
  padding-inline: 10px;
color: #fff;
}
.post-desc{
  font-size: 10px;
  padding-inline: 10px;
  color: #fff;
}
.tf-button{
  /* margin-block-start: 5px; */
  /* margin-inline-start: 10px; */
  background: #61d0ff;
  color: white;
  font-size: 18px;
  border: 1px solid #61d0ff;
  padding: 6px;
  border-radius: 4px;
  text-decoration: none;  
}
}
  .footer {
    /* margin-top: 50px; */
    display: flex;
    background: #61dafb;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    align-self: center;
    list-style: none;
  }
  
  .right {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
  }
  .right a {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .right li {
    font-size: 15px;
    color: #fff;
    font-weight: bold;
  }

  .logos{
    height: 60px;
    border-radius: 50%;
}


.middle a li {
  color: white;
  text-decoration: none;
}

